<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="regular_customers_listing_data_source" xsi:type="string">OleksiiBezpoiasnyi\RegularCustomer\Model\ResourceModel\Discount\Grid\Collection</item>
                <item name="regular_customers_form_data_source" xsi:type="string">OleksiiBezpoiasnyi\RegularCustomer\Model\ResourceModel\Discount\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="OleksiiBezpoiasnyi\RegularCustomer\Model\ResourceModel\Discount\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult"
    >
        <arguments>
            <argument name="mainTable" xsi:type="string">oleksiib_regular_customer</argument>
            <argument name="resourceModel" xsi:type="string">OleksiiBezpoiasnyi\RegularCustomer\Model\ResourceModel\DiscountRequest</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="oleksiib_regular_customer_generate_requests" xsi:type="object">OleksiiBezpoiasnyi\RegularCustomer\Console\Command\GenerateFixtures</item>
            </argument>
        </arguments>
    </type>
    <preference for="OleksiiBezpoiasnyi\RegularCustomer\Api\DiscountRequestRepositoryInterface"
                type="OleksiiBezpoiasnyi\RegularCustomer\Model\Api\DiscountRequestRepository"
    />
    <preference for="OleksiiBezpoiasnyi\RegularCustomer\Api\Data\DiscountRequestInterface"
                type="OleksiiBezpoiasnyi\RegularCustomer\Model\DiscountRequest"
    />
    <preference for="OleksiiBezpoiasnyi\RegularCustomer\Api\Data\DiscountRequestSearchResultInterface"
                type="OleksiiBezpoiasnyi\RegularCustomer\Model\Api\DiscountRequestSearchResult"
    />
</config>
