<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="oleksiib_regular_customers" frontName="loyalty-program">
            <module name="OleksiiBezpoiasnyi_RegularCustomer" />
        </route>
    </router>
</config>
